.body {
    background-color: rgb(174, 194, 194);
    text-align: -webkit-center;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 16px 16px 18px 16px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    background-color: rgb(237, 235, 240);
    width: fit-content;
  }

.img {
    height: 432px;
    width: 400px;
  }
  
